<!DOCTYPE html>
<html>
  <head>
    <title>IconocladMyResaleWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flash-messages">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
        <hr />
      <% end -%>
    </div>

    <div>
      <% if current_user %>
        Logged in as <%= current_user.name %> |
        <%= link_to "Log Out", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Log in with Facebook", facebook_login_path %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
